
/* ================= NAVBAR ================= */
.custom-navbar {
  background: #080e18 !important;
  box-shadow: none !important;
  border-bottom: none !important;
}

.app-bg {
 background: #080e18 !important;
  box-shadow: none !important;
  border-bottom: none !important;
}

.custom-navbar .navbar-brand {
  color: #fff !important;
  letter-spacing: 0.5px;
}

.custom-navbar .nav-link,
.custom-navbar .dropdown-toggle {
  color: #e5e7eb !important;
  font-weight: 600;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link:focus {
  color: #ffffff !important;
}

.custom-navbar .dropdown-menu {
  background: #080e18ff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  padding: 10px;
  margin-top: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}

.custom-navbar .dropdown-item {
  color: #e5e7eb;
  border-radius: 10px;
  padding: 10px 14px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.custom-navbar .dropdown-item:hover {
  background: rgba(255, 255, 255, 0.12);
  color: #ffffff;
}

/* ================= TOGGLER ================= */
.navbar-toggler {
  border: none;
  padding: 6px 10px;
}

.navbar-toggler-icon {
  width: 28px;
  height: 28px;
  background-image: none;
  position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon span {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 4px;
  transition: 0.3s;
}

.navbar-toggler-icon::before {
  top: 6px;
}
.navbar-toggler-icon span {
  top: 13px;
}
.navbar-toggler-icon::after {
  top: 20px;
}

/* navbar mobile */
@media (max-width: 991px) {
  .custom-navbar .navbar-nav {
    background: #080e18ff;
    padding: 18px;
    border-radius: 16px;
    margin-top: 12px;
  }
}
